/* body{
    background-color: rgb(6, 6, 32); */
p{
    color: burlywood;
}
h1{
    color:darkviolet;
    background-color:aquamarine;
    text-align: center;
    border-radius: 60px 60px 60px 60px;
}
input[type="submit"]{
    background-color: green;
    border-radius: 30px;
}
input[type="reset"]{
    background-color: green;
    border-radius: 30px;
}
input[type="submit"]:hover{
    background-color: red;
    border-radius: 30px;
}
input[type="reset"]:hover{
    background-color: red;
    border-radius: 30px;
}
